.DailyExcise .TableContainer {
  overflow-y: auto;
  max-height: 450px;
}

.DailyExcise .TableContainer .TableRow {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 105px 160px 75px;
}

/* .DailyExcise .TableContainer .TableRow > * {
  border-bottom: none !important;
} */
